@import '../../../../styles/mixin';
@import '../../../../styles/variables';

.articleNews {
  padding-top: 15px;

  .articleNewsInner {
    @include flex(space-between, center);
    width: 780px;
    height: 180px;
    margin: 0 auto;
    border: 1px solid $white;
    border-radius: 7px;

    &:first-child {
      margin-top: 15px;
    }

    &:hover {
      transform: scale(1.02);
      transition: all 0.1s;
      color: $pointColor;
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }

    .articleImgSize {
      @include flex(center, normal);
      width: 260px;
      height: 180px;
      overflow: hidden;

      .newsThumbnail {
        width: 260px;
      }
    }

    .articleNewsFlex {
      width: 480px;
      padding-right: 30px;
      color: $black;

      .articleNewsTitle {
        margin-bottom: 12px;
        overflow: hidden;
        font-size: 22px;
        line-height: 24px;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-underline-offset: 3px;
      }

      .articleNewsContent {
        display: -webkit-box;
        overflow: hidden;
        font-size: 16px;
        line-height: 24px;
        text-overflow: ellipsis;
        text-underline-offset: 3px;
        word-wrap: break-word;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .articleNewsTime {
        margin-top: 12px;
        color: grey;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .articleNews {
    padding: 15px 0;

    .articleNewsInner {
      @include flex(space-between, center);
      width: 90vw;
      height: 120px;
      margin: 0 auto;
      border: 1px solid $white;
      border-radius: 7px;

      .articleImgSize {
        @include flex(center, normal);
        width: 120px;
        height: 120px;
        overflow: hidden;

        .newsThumbnail {
          width: 100%;
        }
      }

      .articleNewsFlex {
        width: 60%;
        padding-right: 15px;
        color: $black;

        .articleNewsTitle {
          margin-bottom: 6px;
          font-size: 16px;
          line-height: 24px;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-underline-offset: 3px;
        }

        .articleNewsContent {
          display: -webkit-box;
          overflow: hidden;
          font-size: 14px;
          line-height: 24px;
          text-overflow: ellipsis;
          text-underline-offset: 3px;
          word-wrap: break-word;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .articleNewsTime {
          margin-top: 6px;
          color: grey;
          font-size: 13px;
        }
      }
    }
  }
}
