@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.mainPage {
  padding: 165px 0;
  background-color: $commonBg;

  .mainWrap {
    width: 1200px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 7px;
    background-color: #fff;

    .logoWrap {
      @include flex(center, center);
      flex-direction: column;

      .logo {
        display: inline;
        margin: 30px;
        color: $pointColor;
        font-size: 90px;
        font-weight: 900;
      }

      .info {
        margin: 30px 0;
        font-size: 26px;
      }

      .searchWrap {
        z-index: 50;
      }
    }
  }

  .top5Header {
    width: 1000px;
    margin: 60px auto;
    padding-top: 30px;
    font-size: 60px;
    font-weight: bold;
  }
}

@media (max-width: 480px) {
  .mainPage {
    padding: 165px 0;

    .mainWrap {
      width: 100vw;
      padding: 10px;

      .logoWrap {
        .logo {
          font-size: 40px;
        }

        .info {
          margin: 20px 0;
          font-size: 18px;
        }
      }
    }

    .top5Header {
      width: 100vw;
      margin: 0 auto 30px;
      font-size: 40px;
      text-align: center;
    }
  }
}
