@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.mainPage {
  background-color: $commonBg;
  padding: 80px 0;

  .mainWrap {
    width: 1200px;
    background-color: #fff;
    margin: 0 auto;
    padding: 40px;
  }

  .top5Header {
    font-size: 60px;
    font-weight: bold;
    margin: 50px;
  }
}
