@import '../../styles/mixin.scss';

body {
  background-color: #eeedef;
}
.userInfoCardBox {
  @include flex(normal, center);
  width: 300px;
  height: 525px;
  flex-direction: column;
  border: 1px solid #ddd;
  background-color: white;

  .userPicture {
    @include flex(normal, center);
    padding-top: 30px;
    width: 100%;
    height: 150px;
    flex-direction: column;

    .userimages {
      width: 120px;
      height: 120px;
      border-radius: 60px;
    }

    .userName {
      width: 100%;
      font-size: 18px;
      text-align: center;
      font-weight: bold;
      margin: 10px 0;

      .tierImage {
        width: 15px;
        height: 15px;
      }
    }
  }

  .underInfo {
    padding: 25px 5px 0 5px;
    width: 100%;
    height: 350px;

    .repoInfo {
      @include flex(space-around, center);
      width: 100%;
      height: 60px;

      .first {
        width: 90px;
      }

      .number {
        font-weight: 900;
        padding-bottom: 5px;
      }

      div {
        text-align: center;
        width: 100px;
      }

      div:not(:last-child) {
        border-right: 1px solid #ddd;
      }
    }

    .userInfoText {
      @include flex(space-around, baseline);
      border-top: 1px solid #ddd;
      width: 100%;
      height: 88%;
      flex-direction: column;
      padding: 0 10px;
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
