body {
  background-color: #eeedef;
}
.userInfoCardBox {
  width: 300px;
  background-color: blue;
  height: 450px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  .userPicture {
    width: 100%;
    height: 150px;
    background-color: yellow;
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      width: 120px;
      height: 120px;
    }
  }

  .underInfo {
    width: 100%;
    height: 300px;

    .repoInfo {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: aqua;
      border-bottom: 5px solid gray;

      div {
        text-align: center;
        width: 100px;
      }

      div:not(:last-child) {
        border-right: 1px solid gray;
      }
    }

    .userInfoText {
      background-color: red;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: baseline;
      padding-left: 20px;
    }
  }
}
