@import '../../../../styles/mixin.scss';
@import '../../../../styles/variables.scss';

.reCommentSection {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px 0 0 120px;
  padding: 10px;
  border-radius: 7px;
  background-color: $white;

  .reCommentWrap {
    .reCommentWriter {
      @include flex(flex-start, normal);

      .arrowIcon {
        margin-right: 20px;
        color: #808080;
        font-size: 20px;
      }

      .reComment {
        @include flex(normal, center);
        width: 80%;
        padding-bottom: 15px;

        .tier {
          width: 18px;
          margin-right: 5px;
        }

        .reComId {
          font-size: 15px;
          font-weight: 600;
          cursor: pointer;
        }

        .time {
          margin-left: 10px;
          color: #808080;
          font-size: 15px;
          cursor: default;
        }
      }

      .reComDeleteBtn {
        margin: 0 10px 0 auto;
        color: #808080;
        cursor: pointer;
      }

      .hidden {
        display: none;
      }
    }

    .reComContent {
      width: 90%;
      margin-left: 37px;
      line-height: 25px;
      white-space: pre-wrap;
      word-break: keep-all;
    }
  }
}

@media screen and (max-width: 480px) {
  .reCommentSection {
    width: 85vw;
    margin: 20px 0;

    .reCommentWrap {
      .reCommentWriter {
        @include flex(flex-start, normal);

        .reComment {
          .tier {
            width: 12px;
          }

          .reComId {
            font-size: 15px;
          }

          .time {
            margin-left: 10px;
            font-size: 13px;
          }
        }

        .reComDeleteBtn {
          width: 30px;
          font-size: 12px;
        }
      }
    }
    .reComContent {
      margin-left: 37px;
      font-size: 15px;
    }
  }
}
