.rankWrap {
  height: 100vh;
  background-color: #eee;

  .rankInner {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 120px;
    background: #fff;

    .rankTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1100px;
      margin: 0 auto;

      h2 {
        color: #122e94;
        font-size: 28px;
        font-weight: bold;
        text-align: left;
      }
      .initialRankBtn {
        box-sizing: border-box;
        width: 100px;
        height: 35px;
        margin-top: 10px;
        margin-left: auto;
        border: none;
        border-radius: 5px;
        background-color: #122e94;
        color: #eee;
        font-size: 16px;
      }
      #languageSelect {
        width: 150px;
        height: 35px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 0 24px 0 12px;
        border: 1px solid #eee;
        border-radius: 5px;
        outline: none;
        font-size: 16px;
      }
    }

    .rankContent {
      margin-top: 20px;

      table {
        width: 1100px;
        margin: 0 auto;
        border-collapse: collapse;
        border-top: 2px solid #222;

        .tableLeft {
          text-align: left;
        }

        thead {
          th {
            height: 40px;
            padding: 20px 0;
            border-bottom: 1px solid #eee;
            color: #122e94;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;

            img {
              cursor: pointer;
            }
          }
          .arrow {
            width: 18px;
            padding-left: 3px;
            vertical-align: middle;
          }
          .sortTh {
            cursor: pointer;
          }
        }

        tbody {
          td {
            height: 30px;
            padding: 16px 0;
            border-bottom: 1px solid #eee;
            font: 16px;
            text-align: center;

            &:last-child {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
.rotate {
  transform: rotateX(180deg);
}
