@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
//font-family: 'Noto Sans KR', sans-serif;
* {
  box-sizing: border-box;
}
html {
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
img {
  border: none;
}
