@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.search {
  height: 30px;
  width: 200px;
  border: 0.5px solid gray;
  border-radius: 7px;

  &.large {
    height: 50px;
    width: 700px;
    margin: 0 auto;
  }

  .searchForm {
    @include flex(normal, center);
  }

  .searchInput {
    width: 100%;
    padding-left: 10px;
    border: 0;
    font-size: 15px;
    outline: 0;

    &.large {
      font-size: 25px;
      padding-left: 15px;
    }
  }

  .searchIcon {
    padding: 8px;
    width: 70px;
    height: 30px;
    border-radius: 7px;
    color: white;
    background-color: $pointColor;
    cursor: pointer;

    &.large {
      height: 50px;
      width: 200px;
    }
  }

  .resultWrap {
    border: 1px solid gray;
    border-radius: 7px;
    width: 200px;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    font-size: 14px;

    &.large {
      width: 700px;
      padding: 10px;
      font-size: 20px;
    }

    .resultList {
      margin-top: 10px;
      background-color: white;
      z-index: 50;

      .resultInfo {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #eee;
        cursor: pointer;

        &.large {
          font-size: 25px;
        }

        .img {
          width: 30px;
          height: 30px;
          border-radius: 50%;

          &.large {
            width: 60px;
            height: 60px;
          }
        }

        .tier {
          margin: 0 10px;
        }
      }
    }

    .errorMsg {
      margin-top: 10px;

      &.large {
        margin-top: 20px;
      }
    }
  }
}
