@import '../../../styles/variables';
@import '../../../styles/mixin';

.articleMenu {
  position: sticky;
  top: 165px;
  width: 300px;
  padding-bottom: 10px;

  .categoryListInner {
    .categoryTitle {
      margin: 12px 0 10px;
      color: $black;
      font-size: 14px;
      font-weight: 700;
    }

    .categoryDivision {
      width: 300px;
      margin: 0 auto;
      padding: 0 25px 5px;
      border-radius: 7px;
      background-color: #fff;

      .articleTop {
        width: 50px;
        margin: 8px auto;
        margin-bottom: 0;

        img {
          width: 50px;
        }
      }

      .articleRegister {
        .articleWriteBtn {
          width: 100%;
          height: 35px;
          margin: 0 0 5px;
          margin-top: 20px;
          border: 2px solid $pointColor;
          border-radius: 7px;
          outline: none;
          background-color: #fff;
          color: $pointColor;
          font-size: 16px;
          font-weight: 700;

          &:hover {
            background-color: $pointColor;
            color: #fff;
            cursor: pointer;
          }
        }
      }

      .categoryWrap {
        margin: 10px 0;
        border-bottom: 1px solid $white;
        border-radius: 7px;

        &:last-child {
          border-bottom: none;
        }

        .categoryList {
          display: flex;
          flex-direction: column;
          justify-items: center;

          span {
            margin-bottom: 6px;
            padding: 6px 5px;
            color: $black;
            font-size: 15px;
            font-weight: 400;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
          .categoryDefault {
            border-radius: 7px;
            background-color: $pointColor;
            color: #fff;
            font-weight: 300;
          }
        }
      }
    }
    .articleSearch {
      width: 300px;
      height: 125px;
      margin: 0 auto;
      margin-bottom: 15px;
      padding: 5px 25px;
      border-radius: 7px;
      background-color: #fff;

      & > div {
        @include flex(space-between, center);
        margin-top: 7px;
      }
      .articleSelect {
        width: 140px;
        height: 25px;
        margin-top: 2px;
        padding: 0 5px;
        border: 1px solid $white;
        border-radius: 7px;
        outline: none;
        font-size: 14px;
      }

      .searchInput {
        width: 190px;
        height: 30px;
        margin-right: 5px;
        margin-bottom: 10px;
        padding: 0 8px;
        border: 1px solid $white;
        border-radius: 7px;
        outline: none;
        font-size: 14px;
      }

      .articleSearchBtn {
        width: 50px;
        height: 30px;
        margin-bottom: 10px;
        border: none;
        border-radius: 7px;
        outline: none;
        background-color: $pointColor;
        color: $white;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .articleMenu {
    position: inherit;
    width: 100vw;

    .categoryListInner {
      .categoryTitle {
        margin: 12px 0 10px;
        color: $black;
        font-size: 14px;
        font-weight: 700;
      }

      .categoryDivision {
        width: 100vw;
        margin: 0 auto;
        margin-top: 10px;
        padding: 15px 25px;
        border-radius: 7px;
        background-color: #fefefe;

        .articleTop {
          width: 50px;
          margin: 8px auto;
          margin-bottom: 0;

          img {
            width: 50px;
          }
        }

        .articleRegister {
          .articleWriteBtn {
            display: block;
            width: 100%;
            height: 35px;
            margin: 0 auto;
            margin-top: 10px;
            background-color: $pointColor;
            color: #fff;
            font-weight: 500;
          }
        }

        .categoryWrap {
          margin: 10px 0;
          border-bottom: 1px solid $white;
          border-radius: 7px;

          &:last-child {
            border-bottom: none;
          }

          .categoryList {
            display: flex;
            flex-direction: row;
            justify-items: center;

            span {
              margin-right: 6px;
              margin-bottom: 6px;
              padding: 6px 5px;
              color: $black;
              font-size: 15px;
              font-weight: 400;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
            .categoryDefault {
              border-radius: 7px;
              background-color: $pointColor;
              color: #fff;
              font-weight: 300;
            }
          }
        }
      }
      .articleSearch {
        width: 100vw;
        height: 100px;
        margin: 0 auto;

        & > div {
          display: inline-block;
          align-items: center;
          justify-content: normal;
          width: 67%;
          margin-top: 7px;
        }
        .articleSelect {
          width: 28%;
          height: 30px;
          margin-right: 5px;
          padding: 0 3px;
          font-size: 14px;
        }

        .searchInput {
          width: 70%;
          height: 30px;
          margin-right: 5px;
          margin-bottom: 0;
          font-size: 14px;
        }

        .articleSearchBtn {
          width: 20%;
          height: 30px;
          margin-bottom: 0;
          padding: 0;
          font-size: 13px;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
