@import '../../../styles/mixin';
@import '../../../styles/variables';

.community {
  width: 100vw;
  padding: 165px 0 80px;
  background-color: $commonBg;

  .communityInformation {
    width: 100%;
    padding: 20px 30px 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 7px;
    background-color: #fff;
    cursor: pointer;

    p {
      width: 100%;
      overflow: hidden;
      color: red;
      font-weight: 500;
      text-decoration: underline;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        color: $pointColor;
        font-weight: 700;
      }
    }

    &.selectHot {
      border-top-left-radius: 7px;
    }
  }

  .articleInner {
    @include flex(space-between, flex-start);
    width: 1200px;
    margin: 0 auto;

    .articleList {
      height: 1120px;

      .articleListSort {
        display: flex;
        justify-content: space-between;
        width: 840px;
        height: 50px;
        background-color: $commonBg;
        span {
          display: inline-block;
          width: 120px;
          height: 50px;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          background-color: $commonBg;
          color: $pointColor;
          font-size: 16px;
          font-weight: 700;
          line-height: 45px;
          text-align: center;
          cursor: pointer;

          &.selectTab {
            background-color: #fff;
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 5px;
          }

          &:last-child {
            margin-right: auto;
          }
        }

        & > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 190px;
          margin-left: auto;

          .hotSelect {
            width: 150px;
            height: 35px;
            padding: 0 10px;
            border: 1px solid $commonBg;
            border-radius: 5px;
            outline: none;
            font-size: 16px;

            &:hover {
              cursor: pointer;
            }
          }

          .initialHotBtn {
            box-sizing: border-box;
            width: 35px;
            height: 35px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #fff;
            font-size: 16px;
            cursor: pointer;

            img {
              width: 17px;
              padding-top: 4px;
            }
          }
        }
      }

      .articleListInner {
        width: 840px;
        height: 1020px;
        background-color: #fff;

        .noList {
          width: 100%;
          padding: 50px;
          font-size: 20px;
          text-align: center;
        }

        .bugReportWrap {
          padding-top: 50px;

          .bugReport {
            width: 90%;
            margin: 0 auto;
            padding: 30px;
            border-radius: 7px;
            background-color: #efefef;
            text-align: center;

            a {
              color: $pointColor;
              font-size: 24px;

              &:hover {
                color: red;
              }
            }

            p {
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .community {
    width: 100vw;
    background-color: $commonBg;

    .communityInformation {
      width: 100%;

      p {
        width: 90%;
      }
    }

    .articleInner {
      display: block;
      width: 100vw;
      margin: 0 auto;

      .articleList {
        height: auto;

        .articleListSort {
          width: 100vw;
          margin: 0 auto;
          span {
            width: 100px;
          }

          & > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 150px;
            margin-left: auto;

            .hotSelect {
              width: 120px;
              height: 35px;
              padding: 0 10px;
              border: 1px solid $commonBg;
              border-radius: 5px;
              outline: none;
              font-size: 16px;

              &:hover {
                cursor: pointer;
              }
            }

            .initialHotBtn {
              display: flex;
              box-sizing: border-box;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              border: 1px solid #ddd;
              border-radius: 5px;
              background-color: #fff;
              font-size: 16px;
              cursor: pointer;

              img {
                width: 15px;
                padding-top: 0;
              }
            }
          }
        }

        .articleListInner {
          width: 100vw;
          height: auto;

          .noList {
            width: 100%;
            padding: 50px;
            font-size: 20px;
            text-align: center;
          }

          .bugReportWrap {
            padding: 50px 0;

            .bugReport {
              width: 90%;
              margin: 0 auto;
              padding: 30px;
              border-radius: 7px;
              background-color: #efefef;
              text-align: center;

              a {
                color: $pointColor;
                font-size: 20px;

                &:hover {
                  color: red;
                }
              }

              p {
                margin-top: 20px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}
