.compareBox {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .reqGraph {
    width: 500px;
    height: 300px;
    background-color: white;
  }

  .stickGraph {
    width: 500px;
    height: 300px;
    background-color: white;
    border-top: 1px solid gray;
  }
}
