@import '../../../styles/mixin.scss';
@import '../../../styles/variables.scss';

.dd {
  background-color: #eee;
}

.articlePage {
  display: flex;
  justify-content: space-around;
  width: 1200px;

  .listWrap {
    width: 300px;
    height: 500px;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 7px;
    margin: 80px 0;
  }
}

.articleWrap {
  border: 1px solid #eee;
  border-radius: 7px;
  width: 840px;
  margin: 80px 0;
  background-color: white;

  .headerWrap {
    border-bottom: 1px solid #eee;
    padding: 30px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .titleInner {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;

    li {
      font-size: 16px;
      color: gray;
    }

    .date {
      padding-left: 4px;
    }

    .writer {
      padding-left: 4px;
    }

    // .date::after,
    // .date::before {
    //   content: ' | ';
    // }
  }

  .mainWrap {
    padding: 30px;
    border-bottom: 1px solid #eee;

    .article {
      line-height: 30px;
    }

    .mainBottom {
      margin-top: 40px;
      font-size: 20px;
      display: flex;
      justify-content: space-between;

      .thumsCommentIcons {
        display: flex;
        align-items: center;

        span {
          margin-left: 10px;
        }
      }

      .thumbsUpIcon {
        margin-right: 30px;
        font-size: 20px;

        // .icon {
        //   fill: yellow;
        // }
      }

      .shareDotIcons {
        font-size: 25px;

        .shareIcon {
          margin-right: 20px;
        }
      }
    }
  }
}
