@import '../../../styles/mixin.scss';
@import '../../../styles/variables.scss';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

.wrapper {
  width: 100vw;
  padding: 165px 0 100px;
  background: $commonBg;

  .wrapWrite {
    position: relative;
    width: 800px;
    height: 700px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 7px;
    .writeTitle {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 500;
    }
    .choiceChange {
      position: relative;
      margin-bottom: 10px;
      .choiceMenu {
        position: relative;
        color: $black;
        .selected {
          position: relative;
          width: 150px;
          height: 35px;
          padding-left: 10px;
          background-color: #fff;
          border: 1px solid #a4a1a6;
          font-size: 17px;
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }
    .titleInput {
      width: 100%;
      height: 35px;
      margin-bottom: 10px;
      padding-left: 10px;
      border: 1px solid #a4a1a6;
      outline: none;
      font-size: 17px;
      &:focus {
        border: 2px solid #a4a1a6;
      }
    }
    .textInput {
      height: 450px;
      p {
        font-size: 16px;
      }
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 19px;
      }
      strong {
        font-weight: 700;
      }
      em {
        font-style: italic;
      }
      blockquote {
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 20px;
        padding-left: 20px;
        border-left: 7px solid $pointColor;
      }
      img {
        width: 500px;
      }
    }
    .countContent {
      position: absolute;
      right: 30px;
      bottom: 10px;
    }
    .cancleBtn {
      position: absolute;
      width: 80px;
      height: 35px;
      color: #eee;
      background-color: gray;
      border: 1px solid #a4a1a6;
      cursor: pointer;
      right: 90px;
      bottom: -50px;
      border-radius: 5px;
    }
    .registerBtn {
      position: absolute;
      width: 80px;
      height: 35px;
      color: #eee;
      background-color: $pointColor;
      border: 1px solid #7b9acc;
      cursor: pointer;
      right: 0;
      bottom: -50px;
      border-radius: 5px;
    }
  }
}
@media (max-width: 480px) {
  .wrapper {
    padding: 165px 0;
    .wrapWrite {
      width: 100vw;
      height: 700px;
      .textInput {
        img {
          width: 250px;
        }
      }
      .cancleBtn {
        right: 45%;
        transform: translateX(-45%);
      }
      .registerBtn {
        right: 23%;
        transform: translateX(-23%);
      }
    }
  }
}
