@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.allNav {
  position: fixed;
  width: 1200px;

  transform: translate(-50%, 0);
  left: 50%;

  .subNav {
    display: flex;
    justify-content: end;
    background-color: #eee;
  }

  .navWrap {
    @include flex(space-between, center);
    height: 65px;
    border-bottom: 1px solid $commonBg;
    background-color: white;
    z-index: 100;

    .navTab {
      @include flex(normal, center);

      .logo {
        margin-right: 30px;
        font-weight: bold;
        color: $pointColor;
        cursor: pointer;

        .logoGit {
          font-size: 30px;
        }
      }

      .tab {
        margin-right: 20px;
        cursor: pointer;
      }

      .logOutBtn {
        padding: 12px;
        margin-left: 10px;
        border: none;
        border-radius: 7px;
        color: white;
        background-color: $pointColor;
        cursor: pointer;
      }
    }
  }
}
