@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');

.errorPage {
  height: 95vh;
  background-color: $commonBg;
  // margin: 0 auto;

  .errorWrap {
    width: 1200px;
    background-color: white;
    border-radius: 7px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .logo {
      color: $pointColor;
      font-size: 40px;
      font-family: 'Signika Negative', sans-serif;
    }

    .errMsg {
      font-family: 'Signika Negative', sans-serif;
      margin: 40px 0;
      font-size: 60px;
    }

    .noPage {
      font-size: 20px;
      margin-bottom: 30px;
      font-weight: 400;
    }

    .detailMsg {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
