@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.errorPage {
  height: 95vh;
  background-color: $commonBg;

  .errorWrap {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    background-color: #ffffff;
    font-weight: bold;

    .logo {
      color: $pointColor;
      font-family: 'Signika Negative', sans-serif;
      font-size: 40px;
    }

    .errMsg {
      margin: 40px 0;
      font-family: 'Signika Negative', sans-serif;
      font-size: 60px;
    }

    .noPage {
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 400;
    }

    .detailMsg {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 400;
    }

    .goBackToList {
      margin-top: 30px;
      padding: 12px 15px;
      border-radius: 3px;
      background-color: $pointColor;
      color: #ffffff;
      font-size: 15px;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 480px) {
  .errorPage {
    width: 100vw;

    .errorWrap {
      margin-top: 20px;
      width: 100vw;
      padding: 60px;

      .logo {
        font-size: 30px;
      }

      .errMsg {
        font-size: 40px;
        text-align: center;
      }

      .noPage {
        font-size: 20px;
      }

      .detailMsg {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
      }

      .goBackToList {
        font-size: 8px;
      }
    }
  }
}
